* {
    font-family: monospace, serif;
    color: rgb(51, 5, 5);
}

body {
    background-color: rgb(224, 196, 234);
}

h1, h2, p, a {
    text-align: center;
}

img, .stars, a {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

hr {
    border: 2px solid black;
    width: 450px;
    margin-bottom: 20px;
}

div {
    padding: 0px 200px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    border: 3px solid rgb(51, 5, 5);
    width: 200px;
    
}

.stars {
    text-align: center;
    font-size: 60px;
}

.front-page {
    list-style-type: none;
    padding: 0;
}